<main class="text-light">
    
<title>PsychoPath Technology | Ekip</title>
    <br>
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Üst Yetkililer</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 20px;">
            <div class="col">

            
                <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="! PsychoPath">! PsychoPath </h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://probot.media/store/547.png">
                    </div>
                </div>
                             <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="ByK1ttY">ByKittY</h1>
                        <h2>Kurucu</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/971370440285122560/ca525d2800e75b339d258143cbf539e8.png?size=1024">
                    </div>
                </div>

                                           <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="AntiMatter">AntiMatter</h1>
                        <h2>Yönetim</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/957676360556503090/eae53b68985c3c90004714cfe5e12093.png?size=1024">
                    </div>
                </div>

   
            </div>
        </div>
    </div>
    <br>
  

  
  
  
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Kod Paylaşımcı</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">
  
  
  
                                          <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Toprak">Toprak</h1>
                        <h2>Kod Paylaşımcı</h2>
                    </div>
                    <div    class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/743456240037789726/a_0ecb4b9d480596740491b2953cd03f0d.gif?size=2048"  >
                    </div>
                </div>   
              
                                          <div class="profile" style="background: linear-gradient(-35deg, rgba(114, 137, 218, 0.5) 20%, rgb(114, 137, 218, 0.5) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Ahmet">Ahmet</h1>
                        <h2>Kod Paylaşımcı</h2>
                    </div>
                    <div    class="profile-avatar"><img src="https://cdn.discordapp.com/avatars/948970965939912725/ef3caeb0b97dd1aa9f3590e83f1980f9.png?size=1024"  >
                    </div>
                </div>   
              

            </div>
        </div>
    </div>
    <br>
  
    

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="container">
        <h1 style="margin-right: 30px;text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">
            Destekçiler</h1>
        <hr style="background-color: white;height: 2px; ">
        <div class="row" style="margin-left: 3px;">
            <div class="col">
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
               
                <div class="profile" style="-moz-user-select: none;-ms-user-select: none;user-select: none;background: linear-gradient(-35deg, rgba(218, 127, 255, 0.5) 20%, rgb(242, 101, 255) 130%); box-shadow: transparent 0px 2px 52px 0px;">
                    <div class="profile-details">
                        <h1 title="Boş">Boş</h1>
                        <h2>Booster</h2>
                    </div>
                    <div class="profile-avatar"><img src="https://i1.wp.com/erisly.com/assets/img/premium/boost.cb45e94.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!--Start of Tawk.to Script-->
<script src="//code.tidio.co/wnbubljansidf3tl7zkc2kxgjc8cw6g9.js" async></script>

<!--End of Tawk.to Script-->

<!-- KAR-->
<script type="text/javascript" src="https://webkodu.ozgurlukicin.com/kod-kaynak/wk-kar-efekt.js"></script>
<!-- KAR-->
