<title>PsychoPath Technology | Ana Sayfa</title>
<br><br>

















<main class="text-center text-light" style="display: flex;min-height: calc(100vh - 188px);align-items: center; justify-content: center">
        <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://media.giphy.com/media/WYkFKxyoQhCw7P7KlF/giphy.gif">
                <h1 style="font-weight: bold; color: #7289d8;">PsychoPath Technology</h1>
                <h4>Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi </h4>
                <br>
                <a type="button" href="https://www.youtube.com/channel/UCakcpjCJKKAJ-6B-fzjnVyA" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-youtube"></i><b> YouTube</b></a>
                <a type="button" href="/davet" target="_blank" class="btn btn-light"><i style="color:black" class="fab fa-discord"></i><b> Discord</b></a>
                <a type="button" href="https://discordapp.com/users/840158550495723530" target="_blank" class="btn btn-light"><i style="color:black" class="fas fa-envelope"></i> <b>İletişim</b></a>
                <a type="button" href="/sss" class="btn btn-light"><i class="fas fa-info-circle"></i> <b>Bilgi</b></a>
        </div>
  <div class="wave wave1"></div>
</main>

<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<script src="//code.tidio.co/wnbubljansidf3tl7zkc2kxgjc8cw6g9.js" async></script>

<!--End of Tawk.to Script-->
<noscript>
<h1 style="font-weight: bold; color: #7289d8;">Sitede JavaScript kodları mevcut.Siteye erişmek için JavaScript engel kaldırın
  </h1>
</noscript>
<!-- OnlineKisi.com Code Start  -->
<script>var _q = "emv181";</script><script language="Javascript" src="http://oa.onlinekisi.com/i/ok3.js"></script>



<div align="center"> <table style="width: 250px; height: 223px" height="223" cellspacing="0" cellpadding="0" width="250" align="center" background="http://i11.piczo.com/view/2/s/d/0/b/l/3/l/n/v/4/9/img/i298382741_18956_5.jpg"> <tr> <td valign="top" height="36"> <p align="left"> </p> </td> </tr> <tr> <td valign="top" height="174"> <p align="center"><font color="#ffffff"><marquee style="width: 213px; height: 170px" scrollamount="1" scrolldelay="10" direction="up" top="0" left="5" onmouseout="this.start();" onmouseover="this.stop();"> <p align="center">-------DUYURU------<br /> <br /> Sitemizden yardım ala,kod baka ve oyun oynaya bilirsiniz!<br /> <br /> -------DUYURU-------</p></marquee></font></p> </td> </tr> <tr> <td valign="top" width="250" height="13"> <p align="center"><font color="#ff0000" size="1"><a href=""> <font color="#FF0000"></font></a></font></p> </td> </tr> </table>
  
  
  
  
<!-- KAR-->
<script type="text/javascript" src="https://webkodu.ozgurlukicin.com/kod-kaynak/wk-kar-efekt.js"></script>
<!-- KAR-->

  
  
  <center><br /> </center> <style type="text/css"> a.navbar:hover{color:red; font-weight:bold;background-image: url(http://www.nackvision.com/myspace/links/twinklingstars2.gif);} a:hover, a.redlink:hover, a.navbar:hover {background-image: url(http://www.nackvision.com/myspace/links/twinklingstars2.gif); text-decoration:none; border:0px solid;} a:hover img {background-image:url (http://www.nackvision.com/myspace/links/twinklingstars2.gif); filter:alpha(finishopacity=0, style=2); } </style><a href="http://html-kodlar-merkez.tr.gg" _fcksavedurl="http://html-kodlar-merkez.tr.gg" target="_blank" title="Html Kodlar Merkez Hrml Kodların Merkezi"><span style="font-size: small;">Html-Kodlar-Merkez<br /> </span></a><br />
