<html><!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->
  <head>    <!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:site_name" content="botclub.me Turkiyenin En Fazla Kod - Altyapı - Şablona Sahip Sunucu/Site"/>
<meta property="og:image" content="https://cdn.discordapp.com/icons/959705494270930984/6865e1784bcbf1593fd2371dc185d626.webp"/>
<meta name="theme-color" content="#07233B"/>
<title>Psych0Path #Bakım</title>
<link rel="shortcut icon" type="image/png" href="https://media.discordapp.net/attachments/959742889020260372/1013868564622610472/6865e1784bcbf1593fd2371dc185d626_1.png" /><link rel="icon" href="https://cdn.discordapp.com/icons/959705494270930984/6865e1784bcbf1593fd2371dc185d626.webp" type="image/x-icon" />
<link rel="stylesheet" href="/index.css" />
<link rel="stylesheet" type="text/css" media="all" href="https://cafexhost.xyz/cerez/cerez.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<nav style="margin-left:5%;margin-right:5%;"class="navbar navbar-expand-md navbar-dark bg-transparent fixed-top" id="mainNav">
  <a class="deneme navbar-brand" style="margin-left: 10px;padding:10px" href="/"><img src="https://cdn.discordapp.com/icons/959705494270930984/6865e1784bcbf1593fd2371dc185d626.webp" style="border-radius: 100%" width="30" height="30">
    B
  </a>
  

 <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="deneme nav-item dropdown">
        <a class="nav-item nav-link active  dropdown-toggle" href="#" data-toggle="dropdown"><i class="fas fa-code"></i> Kodlar</a>
        <div class="dropdown-menu bg-transparent">
          <a class="dropdown-item" href="/normal">Normal Kodlar</a>
          <a class="dropdown-item" href="/altin">Altın Kodlar</a>
          <a class="dropdown-item" href="/elmas">Elmas Kodlar</a>
          <a class="dropdown-item" href="/sablon">Sablonlar</a>
          <a class="dropdown-item" href="/altyapilar">Altyapılar</a>
          <div class="dropdown-divider" style="border-top:1px solid #20262c"></div>
            <a class="dropdown-item" href="/fromyou">Sizden gelenler</a>
        </div>
      </li>
      <!---li class="deneme nav-item">
        <a class="nav-item nav-link active" href="/discord"><i class="fas fa-user-discord"></i></i>Discord</a> 
     </li--->
      <li class="deneme nav-item">
        <a class="nav-item nav-link active" href="/bilgilendirme"><i class="fas fa-info-circle"></i> Bilgilendirme</a>
      </li>
      <li class="deneme nav-item">
        <a class="nav-item nav-link active" href="/yetkilliler"><i class="fas fa-user-shield"></i></i> Yetkililerimiz</a>
      </li>
      
      <!---li class="deneme nav-item">
        <a class="nav-link" href="https://tr.link/ref/Kapatma"> </a>
      </li--->
      <li class="deneme nav-item">
        <a class="nav-item nav-link active" href="https://uptime.botclub.me"><i class="fas fa-user-clock"></i></i>Uptime</a>
      </li>
      <!--li class="deneme nav-item">
        <a class="nav-link" href="/login"> </a>
      </li-->
      <a href="https://oceanbilisim.net/" target="_blank" >
        <img src="https://media.discordapp.net/attachments/1030591714026586122/1033842999991472209/OceanLogo4.PNG?width=234&height=65" />
      </a>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9177774013853464"
     crossorigin="anonymous"></script>
    </ul>

    
    <ul class="navbar-nav" style="margin-right: 20px;">
      
      <li class="deneme nav-item">
      <a class="nav-item nav-link active" href="/share"><i class="fas fa-plus"></i> Kod Paylaş</a>
      </li>
PsychoPath Site #Bakım
      <li class="deneme nav-item dropdown">
        <a class="nav-item nav-link active dropdown-toggle"> AntiMatter</a>
        <div class="dropdown-menu bg-transparent dropdown-menu-right">
        <a class="btn btn-outline-light"  href="/profile/957676360556503090"><i class="far fa-user"></i> Profil</a
          >
          <div class="dropdown-divider"></div>
<a class="btn btn-outline-danger" href="/logout"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a
            >
        </div>
      </li>
    </ul>

    
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<!-----crtl u saÄŸvlik baÅŸ --->
<!--<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false"></body>
<script type="text/javascript">

//form tags to omit in NS6+:
var omitformtags=["input", "textarea", "select"]

omitformtags=omitformtags.join("|")

function disableselect(e){
if (omitformtags.indexOf(e.target.tagName.toLowerCase())==-1)
return false
}

function reEnable(){
return true
}

if (typeof document.onselectstart!="undefined")
document.onselectstart=new Function ("return false")
else{
document.onmousedown=disableselect
document.onmouseup=reEnable
}

</script>
<body onkeydown="return false"> --->
		<!----crtl u saÄŸvlik bit-->

    <!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->
	<!-- * LINKS * -->	<!--- TELİF HAKLARI BOTCLUB.ME AITTIR---><!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->
	<link rel="stylesheet" href="https://lime-veil-viola.glitch.me/style.css">
	<link rel="icon" href="images/cedar.png"><!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css"><!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"><!--- TELİF HAKLARI BOTCLUB.ME AITTIR--->


	<!-- * JAVA SCRIPT * -->	<!--- TELİF HAKLARI BOTCLUB.ME --->
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script><!--- TELİF HAKLARI BOTCLUB.ME --->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script><!--- TELİF HAKLARI BOTCLUB.ME --->
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script><!--- TELİF HAKLARI BOTCLUB.ME --->
<!--- TELİF HAKLARI BOTCLUB.ME --->

</head> <!--- TELİF HAKLARI BOTCLUB.ME --->
<body><!--- TELİF HAKLARI BOTCLUB.ME --->
<!--- TELİF HAKLARI BOTCLUB.ME --->
<!--- TELİF HAKLARI BOTCLUB.ME --->
	<!-- * PRELOADER * --> <!--- TELİF HAKLARI BOTCLUB.ME --->
<!--- TELİF HAKLARI BOTCLUB.ME --->
  	<div class="loader-wrapper"><!--- TELİF HAKLARI BOTCLUB.ME --->
      	<span class="loader"><span class="loader-inner"></span></span><!--- TELİF HAKLARI BOTCLUB.ME --->
  	</div>  <!--- TELİF HAKLARI BOTCLUB.ME --->
<!--- TELİF HAKLARI BOTCLUB.ME --->
	<!-- * HEADER + NAV * --><!--- TELİF HAKLARI BOTCLUB.ME --->
	<!--- TELİF HAKLARI BOTCLUB.ME --->
	<section class="banner" id="home"><!--- TELİF HAKLARI BOTCLUB.ME --->
    <div class="overlay"></div>		<!--- TELİF HAKLARI BOTCLUB.ME --->
		<div class="content" data-aos="fade-right" data-aos-duration="1000"><!--- TELİF HAKLARI BOTCLUB.ME --->
			
			<h2>
				Merhaba,<br>
				<span>Hoş Geldin!</span>
			</h2>

			<p>
				Discord Kod Paylaşım Sitesi! Bu siteden kolayca kodlara ulaşabilirsiniz. Siteye giriş yapıp özel kodlarımıza ulaşabilirsiniz! Bot Club, Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi.
			</p>
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9177774013853464"
     crossorigin="anonymous"></script>
			<a href="/discord" style="text-decoration:none;background-color:#5865F2" target="_blank"><i class="fab fa-discord" style="margin-right: 10px; font-size: 20px;"></i>Sunucumuza Katıl!</a>

		</div>	

	</section>

	
	<!-- * ABOUT US * -->

	<section class="services p-t-30" id="about">
		<h1><span>Bot Club</span> hakkında</h1>
		<div class="container">
			<div class="service">
				<i class="fas fa-hands-helping"></i>
				<h2>YARDIMLAŞMA</h2>
				<p>
					Discord botunuzda oluşan hatalarda veya yapamadığınız kodlarda sunucumuzda bulunan yardım kanallarından destek alabilirsiniz. Tamamen ücretsiz bir şekilde destek veriyoruz! Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>

			<div class="service">
				<i class="fas fa-shield-alt"></i>
				<h2>YETKİLİLER</h2>
				<p>
					Yetkililerimiz en iyi şekilde sizlere destek çıkmaya çalışmaktadır. Ekibimiz sizlere daha iyi bir hizmet vermek için çabalamaktadır. Daha iyi hizmet vermek için çalışıyoruz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service">
				<i class="fas fa-hammer"></i>
				<h2>ÜCRETSİZ KODLAR</h2>
				<p>
					Hiçbir maddi destek istemeden sizlere ücretsiz bir şekilde kodları sunuyoruz. Sadece arkadaşlarınızı Sunucuya davet ederek ya da sunucuda aktif kalarak daha özel kodlara sahip olabilirsiniz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service" style="width: 80% !important; margin-top: 50px;">
				<i class="fas fa-star"></i>

				<p>
					Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi Olan Bot Club 19.04.2020 tarihinde 10 ortak ile kuruldu, Sunucumuz 2 hafta içinde 2000'den fazla üyeye sahip ve her geçen gün artmaktadır. İleriki zamanlarda Bot List, Server List gibi planlarımızda var. Sizde şuan discord sunucumuza katılıp ücretsiz bir şekilde botunuzu geliştirebilirsiniz.
				</p>
			</div>
		</div>
		<!--script language="javascript">
			window.alert("Telefonlar Siteyi Masaüstü Görünümüne Alması Gereklidir NOT: İOS Da Olmuyor Maalesef :(");
			</script-->
	</section>
	<p>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5580721845106922"
     crossorigin="anonymous"></script>
	</p>
	<!-- * DISCORD * -->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9177774013853464"
	crossorigin="anonymous"></script>
	<div class="discord">
		<div class="overlay"></div>
		<div class="text">
			<h1>Sunucumuza hala<br>göz atmadın mı?</h1>
			<a href="/discord" style="text-decoration:none;"target="_blank">Hemen Katıl!</a>
		</div>
		<div class="discordImg">
			<iframe src="https://discord.com/widget?id=959705494270930984&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>		</div>
	</div>


	<!-- * FOOTER * -->

    <div class="footer">
    	
    	<div class="footerLinks">
			<h3>PsychoPath</h3>
    		<a href="#" class="colored">Ana Sayfa</a>
    		<a href="#about">Hakkımızda</a>
    		<!-- <a href="members.html">Ekibimiz</a> -->
    		<a href="/discord" target="_blank">Discord</a>
			<a href="https://botclub.me/login"> </a>
    	</div>
		
    	<p class="copyright">
    		&copy; Tüm Hakları Saklıdır. <span>© PsychPath</span>
    	</p>
    </div>

    	<p class="credits" class="neon">
    		<i class="fa fa-code"></i>
    		by
    		<span>PsychoPath</span>
			
        &
        <span>ByK1ttY</span>
    	</p>
	<!-- * SCROLL TO TOP * -->

	<button id="back-to-top-btn"><i class="fa fa-angle-up"></i></button>


	<!-- JAVASCRIPT -->

	<script>
	// TOGGLE EFFECT
		
  	
</body>

</html>
