	<style>
		body {
			background: url(https://cdn.glitch.global/16ff2add-476f-4417-b371-338021fa6c55/1558d4ff-5947-458c-a811-2309388bf26b.image.png?v=1670079594434) no-repeat fixed;
			background-size: 100%;
		}
	</style>


  <title>PsychoPath Technology| Ortaklar</title>
<br><br><br>
<div id="discordcard" class="container">
<h1 style="color: #fff;">
<i class="fas fa-handshake"></i> Ortaklar
  </h1>
  <div class="vcodes_divider"></div>
    <div class="row pt-5 m-auto">
      
      
      <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom discordcard border-white border-0" style="background-color: #2f3136">
          <div class="card-custom-img" style="background-image: url(https://cdn.discordapp.com/attachments/828997367675224127/829001303119233074/lol.png"></div>
          <div class="container">
         <div class="card-custom-avatar" style="background-color: #ffafaf">
            <img class="img-fluid" src="https://cdn.discordapp.com/avatars/980553353203417128/c1145bb2181e142c24ad4c4ec51f4e8e.png?size=1024" alt="Avatar">
          </div>
          </div>
          
          <div class="card-body" style="overflow-y: auto; background-color: #2f3136">
            <h2 style="font-size: 24px;" class="card-title">LetCode</h2>
            <p class="card-text text-muted">Sitenin Ortaklar覺ndan Olan ByK1ttY'nin YouTube Kanal覺n覺n Resmi Discord Sunucusu</p>
            <br><p class="card-text text-muted"><i class="fas fa-user"></i> ByK1ttY</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: transparent; background-color: #2f3136">
           <a href="https://discord.gg/vduZPzfJ2M" title="LetCode" class="btn btn-outline-primary"> Sunucuya kat覺l</a>
          </div>
        </div>
      </div>
      

      

      
      
    </div>
  </div>
<!--Start of Tawk.to Script-->
<!-- KAR--> <script type="text/javascript" src="https://webkodu.ozgurlukicin.com/kod-kaynak/wk-kar-efekt.js"></script> <!-- KAR-->

<!--End of Tawk.to Script-->

