<style>
.avatar {
  border-radius: 5% !important;  
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 5px;
    height: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
}
    #avatar2:hover {g
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>

	<style>
		body {
			background: url(https://cdn.glitch.global/16ff2add-476f-4417-b371-338021fa6c55/1558d4ff-5947-458c-a811-2309388bf26b.image.png?v=1670079594434) no-repeat fixed;
			background-size: 100%;
		}
	</style>



<title>PsychoPath Technology   </title>
<main>
  <br><br><br>
  
  <a class="nav-link" href="/z-birgol"><i class=" fas fa-file"></i>   Tickete bak <a href=" https://discordapp.com/users/957676360556503090" target="_blank"> Yardım alan: Birogoldens#2860</a> <kbd> <kbd>Tarih: 21.10.22 |</kbd> <kbd>Konu:Bot çalışıyor,ama komutlar çalışmıyor |</kbd> <kbd>  Verilen Puan - 10/10 </kbd></a>
<script src="//code.tidio.co/wnbubljansidf3tl7zkc2kxgjc8cw6g9.js" async></script>
<!-- KAR-->