<!--COW-->
<a class="dropdown-item" title="Call of War" >Call of War</a>
<div class="dropdown-divider" ></div>
<iframe width="1080" height="620" src="https://www.callofwar.com/" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
<div class="dropdown-divider" ></div>
<!--COW-->


<!--EWW3-->
<a class="dropdown-item" title="EWW3" >EWW3</a>
<div class="dropdown-divider" ></div>
<iframe width="1080" height="620" src="https://empireww3.com/us/game/?country=us&lang=en&clp=1&journeyHash=1662591113701900256&referrer=" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
<div class="dropdown-divider" ></div>
<!--EWW3-->
