


<title>PsychoPath Technology | PsychoGame Beta</title>
<br><br>
  <h1 class="text-center text-light font-weight-bolder">
PsychoGame Beta  </h1>


<div class="container">
  <input id="search" type="text" class="form-control" placeholder="Oyun Ara" aria-label="Oyun Ara" aria-describedby="basic-addon2">
</div><br>

<div style="margin-left: 0.1rem; margin-right: 0.1rem;" class="row row-cols-1 row-cols-md-4">

  <div class="col mb-1">
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><center><img src="https://images-ext-1.discordapp.net/external/N3yqJ6THfT8ilYAQ_fMUg-5kmy_kgyd_72wQmm4Bgp4/%3Fsize%3D1024/https/cdn.discordapp.com/icons/935200258110156881/e141a72ef063ee303b62561815eb8e23.png?width=427&height=427" alt="avatar" style="border-width: 3rem; border: solid;border-radius: 50%; max-width: 100%; height: 7rem;"></center> </br><b><center></center></b></div>
  <div class="card-body">
    <p class="card-text avatar"><b>Oyun: Call of War</b> </p>
    <p class="card-text avatar"><b>Açıklama:</b> Çok oyunculu olarak oynanacak 1 numaralı gerçek zamanlı WW2 strateji oyunu.</p>
      <a class="btn btn-outline-warning nav-link text-uppercase" href="/cow"> <b>Oyna </b></a>

  </div>
    </div>
</div>

  <div class="col mb-1">
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><center><img src="https://static.oyungemisi.com/3/113813/96463/672x448/goodgame-empire-world-war-3.webp" alt="avatar" style="border-width: 1rem; border: solid;border-radius: 50%; max-width: 100%; height: 6rem;"></center> </br><b><center></center></b></div>
  <div class="card-body">
    <p class="card-text avatar"><b>Oyun: Call of War</b> </p>
    <p class="card-text avatar"><b>Açıklama:</b> Çok oyunculu olarak oynanacak 1 numaralı gerçek zamanlı WW2 strateji oyunu.</p>
      <a class="btn btn-outline-warning nav-link text-uppercase" href="/cow"> <b>Oyna </b></a>

  </div>
    </div>
</div>



</div>
