<iframe width="1080" height="620" src="https://www.callofwar.com/" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
<a class="dropdown-item" title="Sizden Gelen Kodlar" class="dropdown-item">^Call of War ^</a>

<div class="dropdown-divider" ></div>
<iframe width="1080" height="620" src="https://empireww3.com/us/game/?country=us&lang=en&clp=1&journeyHash=1662591113701900256&referrer=" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
